body {
    background-color: #000000;
}

.circle {
    width: 30px;
    height: 30px;
    border: 5px solid;
    border-radius: 40%;
    color: #FFFFFF;
}

.transfer {
    width: 0; 
    height: 0;
    background: lightblue;
    border-style: solid;
    border-width: 15px;
}

.line {
    width: 100px;
    height: 10px;
}

.vertical {
    transform: rotate(-90deg);
}

.diagonal-todown {
    transform: rotate(45deg);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.top_red {
    border-top-color: red;
    border-right-color: red;
}

.bottom_red {
    border-bottom-color: red;
    border-left-color: red;
}

.top_green {
    border-top-color: green;
    border-right-color: green;
}

.bottom_green {
    border-bottom-color: green;
    border-left-color: green;
}

.top_blue {
    border-top-color: blue;
    border-right-color: blue;
}

.bottom_blue {
    border-bottom-color: blue;
    border-left-color: blue;
}

#technolozhka {
    position: absolute;
    top: 300px;
    left: 300px;
}

#chernyshevskaya {
    position: absolute;
    top: 300px;
    left: 500px;
}

#golden_mountains {
    position: absolute;
    top: 300px;
    left: 600px;
}

#begovaya {
    position: absolute;
    top: 200px;
    left: 200px;
}

#primorskaya {
    position: absolute;
    top: 200px;
    left: 300px;
}

#skelet_xp {
    position: absolute;
    top: 500px;
    left: 400px;
}

#rybackoe {
    position: absolute;
    top: 600px;
    left: 400px;
}

#spawn {
    position: absolute;
    top: 300px;
    left: 400px;
}

#spawn_center {
    position: absolute;
    top: 305px;
    left: 405px;
}

#dark_village {
    position: absolute;
    top: 400px;
    left: 400px;
}

#dark_village_center {
    position: absolute;
    top: 405px;
    left: 405px;
}

#technolozhka_center {
    position: absolute;
    top: 305px;
    left: 305px;
}

#technolozhka-golden_mountains {
    position: absolute;
    width: 300px;
    top: 315px;
    left: 315px;
}

#begovaya-primorskaya {
    position: absolute;
    top: 215px;
    left: 215px;
}

#primorskaya-spawn {
    position: absolute;
    width: 140px;
    top: 260px;
    left: 295px;
}

#spawn-rybackoe {
    position: absolute;
    width: 300px;
    top: 450px;
    left: 270px;
}

#technolozhka-dark_village {
    position: absolute;
    width: 140px;
    top: 365px;
    left: 300px;
}

h1 {
    position: absolute;
    top: 0px;
    left: 200px;
    font-family: "Helvetica";
    font-size: 40px;
    color: #FFFFFF;
}

p {
    font-family: "Helvetica";
    font-size: medium;
    color: #FFFFFF;
}

#technolozhka_text {
    position: absolute;
    top: 250px;
    left: 270px;
}

#chernyshevskaya_text {
    position: absolute;
    top: 250px;
    left: 460px;
}

#golden_mountains_text {
    position: absolute;
    top: 250px;
    left: 580px;
}

#begovaya_text {
    position: absolute;
    top: 150px;
    left: 190px;
}

#primorskaya_text {
    position: absolute;
    top: 150px;
    left: 275px;
}

#spawn_text {
    position: absolute;
    top: 250px;
    left: 395px;
}

#dark_village_text {
    position: absolute;
    top: 395px;
    left: 450px;
}

#skelet_xp_text {
    position: absolute;
    top: 495px;
    left: 450px;
}

#rybackoe_text {
    position: absolute;
    top: 595px;
    left: 450px;
}